annotated-types
anyio
click
colorama
fastapi
h11
idna
pydantic
pydantic-settings
pydantic_core
sniffio
starlette
typing_extensions
uvicorn
itsdangerous
sqlalchemy
psycopg2-binary
geoalchemy2
reportlab
geopandas
jinja2
python-multipart
passlib
packaging
fpdf