.file-label {
  display: inline-block;
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#fileName {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#uploadButton, #validateButton {
  background-color: #006699;
  margin-top: 10px;
}

#uploadProgress {
  width: 100%;
  margin-bottom: 10px;
}
