/* Estilo institucional do cabeçalho FAD */
.hero {
  background: #004080;
  color: white;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-fad {
  max-width: 100%;
  height: 200px;
  max-height: 200px;
  display: block;
  padding: 5px 20px 0px 20px;
}
